amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
boto3==1.42.87
botocore==1.42.87
brotli==1.2.0
cairocffi==1.7.1
celery==5.6.2
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
coverage==7.13.5
cryptography==46.0.7
cssselect2==0.9.0
disposable-email-domains==0.0.169
Django==5.2.11
django-cors-headers==4.9.0
django-crum==0.7.9
django-ses==4.7.1
django-storages==1.14.6
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
Faker==40.4.0
fonttools==4.62.1
google-auth==2.48.0
gunicorn==25.1.0
idna==3.11
inflection==0.5.1
iniconfig==2.3.0
jmespath==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
packaging==26.0
pillow==12.2.0
pluggy==1.6.0
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pydyf==0.12.1
Pygments==2.20.0
PyJWT==2.12.1
pyphen==0.17.2
pytest==9.0.2
pytest-cov==7.0.0
pytest-django==4.12.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
razorpay==2.0.1
redis==7.2.0
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
rsa==4.9.1
s3transfer==0.16.0
sentry-sdk==2.53.0
setuptools==82.0.1
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
tzdata==2026.1
tzlocal==5.3.1
uritemplate==4.2.0
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
weasyprint==68.1
webencodings==0.5.1
whitenoise==6.11.0
zopfli==0.4.1
gunicorn